<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<form action="<?= $block->getUrl('drus_controller/demofolder/jsonresponse')?>">
    <input type="submit" value="Go to Json" />
</form>
