<?php
/** @var \Magento\Framework\View\Element\Template $block */
$collection = $block->getCollection();
if ($collection->count()) {

    ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col storename"><?php echo __('Store Name') ?></th>
                <th scope="col" class="col image"><?php echo __('Image') ?></th>
                <th scope="col" class="col address"><?php echo __('Address') ?></th>
                <th scope="col" class="col description"><?php echo __('Description') ?></th>
                <th scope="col" class="col schedule"><?php echo __('Schedule') ?></th>
                <th scope="col" class="col longitude"><?php echo __('Longitude') ?></th>
                <th scope="col" class="col latitude"><?php echo __('Latitude') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach ($collection as $item): ?>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getEntityId() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Store Name')) ?>" class="col storename">
                        <?php
                        $url = $item->getUrl();
                        $urlPath =$this->getBaseUrl() . 'stores/'. $url; ?>
                        <a href="<?php echo $urlPath ?>"><?php echo $item->getStoreName(); ?></a>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Image')) ?>" class="col image">
                        <?php
                        $path = $this->getMediaUrl().'store/image/'.$item->getImage();
                        ?>
                        <img alt="No image available :("
                             src="<?php echo $path?>"
                             onclick="window.open('<?php echo $path?>', '_blank');"
                             width="250"
                             style="cursor:pointer;"
                        >
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Address')) ?>" class="col address">
                        <?php echo $item->getAddress() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Description')) ?>" class="col description">
                        <?php echo $item->getDescription() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Schedule')) ?>" class="col schedule">
                        <?php echo $item->getSchedule() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Longitude')) ?>" class="col longitude">
                        <?php echo $item->getLongitude() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Latitude')) ?>" class="col latitude">
                        <?php echo $item->getLatitude() ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php
}
?>
