<?php
/** @var \Magento\Framework\View\Element\Template $block */
$store = $block->getStore();
if ($store){
?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col storename"><?php echo __('Store Name') ?></th>
                <th scope="col" class="col image"><?php echo __('Image') ?></th>
                <th scope="col" class="col address"><?php echo __('Address') ?></th>
                <th scope="col" class="col description"><?php echo __('Description') ?></th>
                <th scope="col" class="col schedule"><?php echo __('Schedule') ?></th>
                <th scope="col" class="col longitude"><?php echo __('Longitude') ?></th>
                <th scope="col" class="col latitude"><?php echo __('Latitude') ?></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $store->getEntityId() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Store Name')) ?>" class="col storename">
                        <?php echo $store->getStoreName() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Image')) ?>" class="col image">
                        <?php
                        $path = $this->getMediaUrl().'store/image/'.$store->getImage();
                        ?>
                        <img alt="No image available :("
                             src="<?php echo $path?>"
                             onclick="window.open('<?php echo $path?>', '_blank');"
                             width="250"
                             style="cursor:pointer;"
                        >
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Address')) ?>" class="col address">
                        <?php echo $store->getAddress() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Description')) ?>" class="col description">
                        <?php echo $store->getDescription() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Schedule')) ?>" class="col schedule">
                        <?php echo $store->getSchedule() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Longitude')) ?>" class="col longitude">
                        <?php echo $store->getLongitude() ?>
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Latitude')) ?>" class="col latitude">
                        <?php echo $store->getLatitude() ?>
                    </td>
                </tr>
            </tbody>
        </table>
        <?php } ?>
    </div>
